nav {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      display: inline-block;
      width: auto;
      margin-right: 10px;
      font-size: 1em;

      &.small_device {
        display: none;
      }

      &:last-of-type {
        margin-right: 0;
      }
    }
  }

  a {
    text-decoration: none;
    color: $third-color;
    transition: text-decoration 0.2s ease;
    padding: 4px 0;

    &:hover, &:active, &:focus {
      border-bottom: 1px solid $primary-text-color;
      color: $primary-text-color;
    }
  }
}
