.full_page_section {
  min-height: calc(100vh - 200px);
  height: auto;
  width: 100%;

  &.only_small_devices {
    min-height: auto;
  }
}

.page_width {
  padding-left: 10%;
  padding-right: 10%;
  width: 80%;
}

.section_container {
  padding-top: 100px;
  padding-bottom: 100px;

  &:nth-child(odd) {
    background-color: $primary-background-color;
    color: $primary-text-color;

    &+footer {
      background-color: $primary-background-color;
      color: $primary-text-color;

      a {
        color: $primary-text-color;
      }
    }

    a.secondary {
      color: $primary-text-color;
    }
  }

  &:nth-child(even) {
    background-color: $secondary-background-color;
    color: $third-color;
  }
}
