button:hover, input[type='submit']:hover {
  cursor: pointer;
}

button {
  -webkit-appearance: none;
  border-radius: 0;
  padding: 10px 10px;
  border: none;
  font-size: 1em;
  transition: background-color 0.2s ease;
  font-weight: 200;
  text-decoration: none;
  font-family: $primary-font;

  &.primary, &.primary:active, &.primary:focus {
    background-color: $third-color;
    color: $secondary-color;

    &:hover, &:focus {
      background-color: $primary-text-color;
      color: $third-color;
      transition: background-color 0.2s ease;
    }
  }

  &.secondary  {
    margin: 5px 0;
    padding: 10px 10px 7px 10px;
    font-size: 0.9em;
    // line-height: 1.2em;
    color: $third-color;

    &:hover, &:active, &:focus {
      background-color: $third-color;
      color: $secondary-color;
      transition: background-color color 0.2s ease;
    }
  }
}
