.coffeecup {

}

.coffeecup .cup {
  height: 80px;
  width: 70px;
  background-color: RGB(84,143,145);
  border-radius: 10px 10px 30px 30px;
  display: block;
  z-index: 200;
}

.coffeecup .cup::before {
  content: "";
  position: relative;
  border-radius: 100px 0 0 100px;
  border: 5px solid RGB(84,143,145);
  width: 17px;
  height: 30px;
  display: block;
  right: 22px;
  top: 15px;
  z-index: 100;
  background-color: transparent;
}

.coffeecup .cup::after {
  content: "";
  position: relative;
  background-color: #6f4e37;
  border-radius: 10px 10px 25px 25px;
  width: 58px;
  height: 50px;
  display: block;
  left: 6px;
  bottom: 16px;
  z-index: 300;
}

.coffeecup .coffee_beans {
  width: 10px;
  height: 17px;
  position: relative;
  left: 80px;
  bottom: 15px;
  background-color: #4d3626;
  border-radius: 90% 90% 90% 90%;
  transform: rotate(80deg);
}

.coffeecup .coffee_beans::before {
  content: "";
  display: block;
  width: 10px;
  height: 17px;
  position: relative;
  left: -5px;
  bottom: 20px;
  background-color: #4d3626;
  border-radius: 90% 90% 90% 90%;
  transform: rotate(60deg);
}

.coffeecup .coffee_beans::after {
  content: "";
  display: block;
  width: 10px;
  height: 17px;
  position: relative;
  left: 5px;
  bottom: 55px;
  background-color: #4d3626;
  border-radius: 90% 90% 90% 90%;
  transform: rotate(20deg);
}
