body, html {
  margin: 0;
  padding: 0;
  font-family: 'Spartan', arial, helvetica, sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 16px;
}

* {
  /* outline: thin solid black; */
}

.full_page_section {
  min-height: calc(100vh - 200px);
  height: auto;
  width: 100%;
}

.full_page_section.only_small_devices {
  min-height: auto;
}

.page_width {
  padding-left: 10%;
  padding-right: 10%;
  width: 80%;
}

.section_container {
  padding-top: 100px;
  padding-bottom: 100px;
}
.section_container:nth-child(odd) {
  background-color: RGB(84,143,145);
  color: #FFFFFF;
}
.section_container:nth-child(even) {
  background-color: #FFFFFF;
  color: RGB(84,143,145);
}

h1 {
  font-weight: 200;
  margin: 0;
  padding: 0;
}

h2 {
  font-weight: 600;
  font-size: 2em;
  margin-top: 0;
}

p {
  font-weight: 200;
  line-height: 30px;
}

a.primary {
  text-decoration: none;
  color: #FFFFFF;
  padding: 10px 10px;
  background-color: RGB(68,68,68);
  transition: background-color 0.2s ease;
  font-weight: 200;
  color: #FFFFFF;
}
a.primary:hover, a.primary:active, a.primary:focus {
  background-color: #FFFFFF;
  color: RGB(68,68,68);
  transition: background-color 0.2s ease;
  cursor: pointer;
}

a.secondary {
  font-weight: 700;
  color: RGB(84,143,145);
  text-decoration: none;
}
a.secondary:hover, a.secondary:active, a.secondary:focus {
  text-decoration: underline;
  transition: text-decoration 0.2s ease;
  cursor: pointer;
}

main {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

main footer {
  color: #FFFFFF;
  font-size: 0.5em;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

#logo_container #logo_box {
  width: 50px;
  height: 50px;
  border: 2px solid #30555C;
  position: absolute;
  top: 90px;
  left: calc(10% - 5px);
}

#hamburger {
  display: none;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav ul li {
  display: inline-block;
  width: auto;
  margin-right: 10px;
  font-size: 1em;
}
nav ul li:last-of-type {
  margin-right: 0;
}
nav a {
  text-decoration: none;
  color: RGB(68,68,68);
  transition: text-decoration 0.2s ease;
  padding: 4px 0;
}
nav a:visited {
  color: RGB(68,68,68);
}
nav a:hover, nav a:active, nav a:focus {
  border-bottom: 1px solid #FFFFFF;
  color: #FFFFFF;
}

li.small_device {
  display: none;
}

#introduction_container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: stretch;
}

#introduction_container h2 {
  margin-bottom: 50px;
}

#introduction_container p {
  margin-bottom: 50px;
}

#introduction_container .image_container {
  width: 350px;
  height: 350px;
  margin: 20px 0 20px 20px;
  background-image: url('../assets/images/3_dDkgMDAwMzc copy.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  background-color: RGB(84,143,145);
}

#scroll_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-content: stretch;
  align-items: center;
}

@keyframes flash_text {
  0%   {opacity: 1;}
  50%   {opacity: 0.3;}
  100%   {opacity: 1;}
}

#scroll_container #scroll_text {
  font-size: 0.8em;
  position: relative;
  top: 10px;
  animation-name: flash_text;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes scroll_down {
  0%   {top: 28px;}
  70%   {top: 47px;}
  100%   {top: 28px;}
}

#scroll_icon .circle {
  border-radius: 100px;
  position: relative;
  top: 34px;
  width: 16px;
  height: 16px;
  background-color: RGB(84,143,145);
  z-index: 1;
  left: 2px;
  top: 28px;
  animation-name: scroll_down;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

#scroll_icon .line {
  width: 20px;
  height: 40px;
  background-color: #FFFFFF;
  position: relative;
  top: 9px;
  border-radius: 100px;
}

#about_container {
  display: grid;
  grid-template-columns: 1fr  600px;
  column-gap: 5%;
}

#about_container #about_container_text {
  background-image: url('../assets/images/about_me_background_1.png');
  background-size: 500px;
  background-repeat: no-repeat;
  padding: 60px 0 0 60px;
}

#about_container #about_container_text p:first-of-type {
  font-size: 1.3em;
  font-weight: 400;
}

#about_container #about_container_images {
  background-image: url('../assets/images/about_me_background_2.png');
  background-size: 100%;
  background-repeat: no-repeat;
  height: 700px;
  /* width: 600px; */
}

#about_container .circle_image {
  border-radius: 1000px;
}

#about_container #image_me {
  width: 275px;
  position: relative;
}

#about_container #image_newcastle {
  width: 300px;
  position: relative;
  top: 200px;
}

#about_container #image_bouldering {
  width: 240px;
  position: relative;
  top: 30px;
  left: 30px;
}

#projects_tiles_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  grid-template-rows: repeat(auto-fit, 320px);
  gap: 30px;
  align-items: flex-start;
}

#project_container #section_header {
  min-width: 300px;
  max-width: 630px;
  width: 100%;
  display: block;
  margin-bottom: 40px;
}

.project_box {
  background-color: #FFFFFF;
  color: RGB(68,68,68);
  display: grid;
  grid-template-rows: 70px 210px 40px;
}

.project_box h3 {
  padding: 0;
  margin: 0;
  font-size: 1.1em;
  padding: 20px 20px 10px 20px;
  align-self: stretch;
  text-align: left;
  word-break: break-all;
}

.project_box p {
  font-size: 0.9em;
  padding: 10px 20px 20px 20px;
  margin: 0;
  max-width: 40ch;
}

.project_box a {
  width: 100%;
  padding: 0;
  align-self: stretch;
  text-align: center;
  line-height: 40px;
}

#contact_container a {
  word-break: break-word;
}

footer {
  width: 100%;
  text-align: center;
  color: RGB(84,143,145);
  text-transform: uppercase;
  font-size: 0.7em;
  padding-bottom: 20px;
}
