body, html {
  margin: 0;
  padding: 0;
  font-family: 'Spartan', arial, helvetica, sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 16px;
}

.full_page_section {
  min-height: calc(100vh - 200px);
  height: auto;
  width: 100%;
}

.full_page_section.only_small_devices {
  min-height: auto;
}

.page_width {
  padding-left: 10%;
  padding-right: 10%;
  width: 80%;
}

.section_container {
  padding-top: 100px;
  padding-bottom: 100px;
}
.section_container:nth-child(odd) {
  background-color: RGB(84,143,145);
  color: #FFFFFF;
}
.section_container:nth-child(even) {
  background-color: #FFFFFF;
  color: RGB(84,143,145);
}

h1 {
  font-weight: 200;
  margin: 0;
  padding: 0;
}

h2 {
  font-weight: 600;
  font-size: 2em;
  margin-top: 0;
  margin-bottom: 30px;
}

p {
  font-weight: 200;
  line-height: 30px;
}

a.primary {
  text-decoration: none;
  color: #FFFFFF;
  padding: 10px 10px;
  background-color: RGB(68,68,68);
  transition: background-color 0.2s ease;
  font-weight: 200;
  color: #FFFFFF;
}
a.primary:hover, a.primary:active, a.primary:focus {
  background-color: #FFFFFF;
  color: RGB(68,68,68);
  transition: background-color 0.2s ease;
  cursor: pointer;
}

a.secondary {
  font-weight: 700;
  color: RGB(84,143,145);
  text-decoration: none;
}
a.secondary:hover, a.secondary:active, a.secondary:focus {
  text-decoration: underline;
  transition: text-decoration 0.2s ease;
  cursor: pointer;
}

main {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

main footer {
  color: #FFFFFF;
  font-size: 0.5em;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

#logo_container #logo_box {
  width: 50px;
  height: 50px;
  border: 2px solid #30555C;
  position: absolute;
  top: 90px;
  left: calc(10% - 5px);
}

#hamburger {
  display: none;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav ul li {
  display: inline-block;
  width: auto;
  margin-right: 10px;
  font-size: 1em;
}
nav ul li:last-of-type {
  margin-right: 0;
}
nav a {
  text-decoration: none;
  color: RGB(68,68,68);
  transition: text-decoration 0.2s ease;
  padding: 4px 0;
}
nav a:visited {
  color: RGB(68,68,68);
}
nav a:hover, nav a:active, nav a:focus {
  border-bottom: 1px solid #FFFFFF;
  color: #FFFFFF;
}

li.small_device {
  display: none;
}

#introduction_container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: stretch;
}

#introduction_container p {
  margin-bottom: 40px;
}

#introduction_container .image_container {
  width: 350px;
  height: 350px;
  margin: 20px 0 20px 20px;
  background-image: url('../assets/images/3_dDkgMDAwMzc copy.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  background-color: RGB(84,143,145);
}

#scroll_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-content: stretch;
  align-items: center;
}

@keyframes flash_text {
  0%   {opacity: 1;}
  50%   {opacity: 0.3;}
  100%   {opacity: 1;}
}

#scroll_container #scroll_text {
  font-size: 0.8em;
  position: relative;
  top: 10px;
  animation-name: flash_text;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes scroll_down {
  0%   {padding-top: 5px; opacity: 1;}
  50%   {padding-top: 15px; opacity: 0.3;}
  100%   {padding-top: 5px; opacity: 1;}
}

#scroll_icon {
  margin-top: 5px;
  animation-name: scroll_down;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

#scroll_icon .line {
  width: 2px;
  height: 30px;
  background-color: #FFFFFF;
  position: relative;
  top: 9px;
  border-radius: 0 0 100px 100px;
}

#scroll_icon .arrow_head {
  height: 13px;
  top: -15px;
  left: 4px;
  border-radius: 100px;
  transform: rotate(45deg);
}
#scroll_icon .arrow_head:nth-of-type(2) {
  top: -2px;
  left: -4px;
  transform: rotate(-45deg);
}

#about_container {
  display: grid;
  grid-template-columns: 1fr  600px;
  column-gap: 5%;
}

#about_container #about_container_text {
  background-image: url('../assets/images/about_me_background_1.png');
  background-size: 500px;
  background-repeat: no-repeat;
  padding: 60px 0 0 60px;
}

#about_container #about_container_text p:first-of-type {
  font-size: 1.3em;
  font-weight: 400;
}

#about_container #about_container_images {
  background-image: url('../assets/images/about_me_background_2.png');
  background-size: 100%;
  background-repeat: no-repeat;
  height: 700px;
}

#about_container .circle_image {
  border-radius: 1000px;
}

#about_container #image_me {
  width: 275px;
  position: relative;
}

#about_container #image_newcastle {
  width: 300px;
  position: relative;
  top: 200px;
}

#about_container #image_bouldering {
  width: 240px;
  position: relative;
  top: 30px;
  left: 30px;
}

#projects_tiles_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  align-items: flex-start;
}

#project_container #section_header {
  min-width: 300px;
  max-width: 630px;
  width: 100%;
  display: block;
  margin-bottom: 30px;
}

.project_box h3 {
  padding: 0;
  margin: 0;
  font-size: 1.1em;
  padding: 0 0 10px 0;
}

.project_box h3::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\25b6";
  margin-right: 10px;
  font-size: 0.6em;
  background-color: transparent;
}

.project_box h3 a {
  color: #FFFFFF;
}

.project_box p {
  font-size: 0.9em;
  padding: 0;
  margin: 0;
}

#contact_container a {
  word-break: break-word;
}

footer {
  width: 100%;
  text-align: center;
  color: RGB(84,143,145);
  text-transform: uppercase;
  font-size: 0.7em;
  padding-bottom: 20px;
}
