body, html {
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 16px;
  font-weight: normal;
  color: #30587A; }

a.button_style, input[type='submit'].button_style {
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  border: none;
  border-radius: 12px;
  margin-right: 10px;
  transition-duration: 0.3s; }
  a.button_style:last-child, input[type='submit'].button_style:last-child {
    margin-right: 0; }
  a.button_style.primary, input[type='submit'].button_style.primary {
    background-color: #75D3C3;
    border: 2px solid #75D3C3;
    box-shadow: 2px 2px #CAEEE8; }
    a.button_style.primary:hover, a.button_style.primary:focus, input[type='submit'].button_style.primary:hover, input[type='submit'].button_style.primary:focus {
      background-color: transparent;
      color: #75D3C3;
      cursor: pointer;
      transition-duration: 0.3s;
      box-shadow: 5px 5px #CAEEE8; }
  a.button_style.secondary, input[type='submit'].button_style.secondary {
    background-color: #30587A;
    border: 2px solid #30587A;
    box-shadow: 2px 2px #C7D5DE; }
    a.button_style.secondary:hover, a.button_style.secondary:focus, input[type='submit'].button_style.secondary:hover, input[type='submit'].button_style.secondary:focus {
      background-color: transparent;
      color: #30587A;
      cursor: pointer;
      transition-duration: 0.3s;
      box-shadow: 5px 5px #C7D5DE; }

header {
  margin: 25px 10%;
  min-height: calc(100vh - 50px);
  position: relative; }
  header .intro {
    margin: 0;
    position: absolute;
    text-align: center;
    width: 100%;
    top: 45%;
    font-weight: bold;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }
    header .intro h2 {
      font-size: 4em;
      padding: 0;
      margin: 0 auto 64px auto;
      border-bottom: 2px solid #30587A; }
    header .intro .button_container {
      text-align: center; }

nav {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  nav .logo_container {
    width: 250px; }
    nav .logo_container .logo {
      width: 100%; }
  nav ul {
    display: inline; }
    nav ul li {
      display: inline;
      list-style: none;
      margin-right: 30px; }
      nav ul li:last-child {
        margin-right: 0; }
  nav a {
    text-transform: uppercase;
    color: #30587A;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s linear;
    cursor: pointer;
    position: relative;
    white-space: nowrap; }
  nav a::before,
  nav a::after {
    position: absolute;
    width: 100%;
    height: 1px;
    background: currentColor;
    top: 100%;
    left: 0;
    pointer-events: none; }
  nav a::before {
    content: ''; }
  nav a::before {
    height: 3px;
    border-radius: 10px;
    transform: scale3d(1, 1, 1);
    transition: transform 0.2s, opacity 0.2s;
    transition-timing-function: cubic-bezier(0.2, 0.57, 0.67, 1.53); }
  nav a:hover::before, nav a:focus::before {
    transition-timing-function: cubic-bezier(0.8, 0, 0.1, 1);
    transition-duration: 0.4s;
    opacity: 1;
    transform: scale3d(1.2, 0.1, 1); }
  nav a span {
    transform: translate3d(0, -4px, 0);
    display: inline-block;
    transition: transform 0.2s 0.05s cubic-bezier(0.2, 0.57, 0.67, 1.53); }
  nav a:hover span, nav a:focus span {
    transform: translate3d(0, 0, 0);
    transition-timing-function: cubic-bezier(0.8, 0, 0.1, 1);
    transition-duration: 0.4s;
    transition-delay: 0s; }

section#about {
  min-height: 100vh;
  display: flex; }
  section#about .text_container {
    width: 35%;
    min-height: 100vh;
    padding: 0 5%;
    align-items: center; }
    section#about .text_container .text {
      color: #30587A;
      background-color: white;
      padding: 10% 12%;
      border-radius: 20px 20px 20px 20px; }
      section#about .text_container .text h2 {
        text-transform: uppercase;
        font-size: 1.8em;
        color: #75D3C3;
        margin-bottom: 40px; }
        section#about .text_container .text h2::after {
          content: "";
          display: block;
          height: 5px;
          width: 30px;
          top: 10px;
          position: relative;
          background-color: #75D3C3; }
      section#about .text_container .text p {
        line-height: 32px; }
        section#about .text_container .text p:first-of-type {
          font-size: 1.2em; }
      section#about .text_container .text .picture_pointer {
        display: flex;
        align-items: center;
        margin-top: 50px;
        text-decoration: none; }
        section#about .text_container .text .picture_pointer i {
          color: #75D3C3;
          font-size: 3em;
          padding-right: 5%; }
          section#about .text_container .text .picture_pointer i:last-of-type {
            padding-right: 0;
            padding-left: 5%; }
        section#about .text_container .text .picture_pointer p {
          margin: 0;
          padding: 0;
          font-weight: bold;
          color: #30587A; }
  section#about img {
    height: 100vh;
    width: 55%;
    object-fit: cover; }

section#projects {
  min-height: calc(100vh - 400px);
  padding: 200px 10%;
  border-top: 16px solid white;
  display: grid;
  grid-template-columns: 65% 35%; }
  section#projects h2 {
    text-transform: uppercase;
    font-size: 1.8em;
    color: #75D3C3;
    margin-bottom: 40px; }
    section#projects h2::after {
      content: "";
      display: block;
      height: 5px;
      width: 30px;
      top: 10px;
      position: relative;
      background-color: #75D3C3; }
  section#projects .projects_container {
    display: flex;
    row-gap: 24px;
    column-gap: 2%;
    padding-top: 25px;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start; }
  section#projects .project_tile {
    background-color: #58829D;
    transition-duration: 0.3s;
    color: white;
    padding: 2% 3%;
    border-radius: 10px;
    border: 2px solid #58829D;
    width: 300px; }
    section#projects .project_tile:hover {
      box-shadow: 5px 5px #C7D5DE;
      transition-duration: 0.3s;
      background-color: white;
      color: #58829D; }
      section#projects .project_tile:hover a {
        color: #58829D; }
      section#projects .project_tile:hover h3 + i {
        color: #75D3C3; }
    section#projects .project_tile h3 {
      padding: 0;
      margin: 0 0 8px 0;
      text-transform: uppercase;
      font-size: 1.5em;
      width: 260px;
      display: inline-block; }
      section#projects .project_tile h3 + i {
        color: #CAEEE8;
        display: inline-block;
        vertical-align: top;
        position: relative;
        left: 15px;
        font-size: 2em; }
    section#projects .project_tile p {
      margin-bottom: 32px; }
    section#projects .project_tile a {
      color: white;
      text-transform: uppercase;
      font-weight: bold; }
  section#projects .text p {
    font-size: 1.2em;
    line-height: 32px;
    font-weight: normal;
    margin-bottom: 40px; }

section#contact {
  min-height: 80vh;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), url("../assets/images/contact_bg.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  padding: 100px 10%; }
  section#contact h2 {
    text-transform: uppercase;
    font-size: 1.8em;
    color: #75D3C3;
    margin-bottom: 40px;
    padding: 0 0 50px 0;
    margin: 0 0 0 0;
    text-align: center; }
    section#contact h2::after {
      content: "";
      display: block;
      height: 5px;
      width: 30px;
      top: 10px;
      left: calc(50% - 15px);
      position: relative;
      background-color: #75D3C3; }
  section#contact form {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 3%;
    width: 450px;
    margin: 0 auto;
    text-align: center; }
    section#contact form legend {
      font-size: 1.5em;
      font-weight: bold;
      margin-bottom: 50px; }
    section#contact form label {
      display: block;
      margin-bottom: 10px;
      font-weight: bold;
      text-align: left; }
    section#contact form input[type='text'], section#contact form input[type='email'], section#contact form textarea {
      width: calc(94% - 4px);
      border: 2px solid #75D3C3;
      border-radius: 10px;
      padding: 3% 3%;
      margin-bottom: 30px; }
      section#contact form input[type='text']::-webkit-input-placeholder, section#contact form input[type='email']::-webkit-input-placeholder, section#contact form textarea::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        color: #d0d9e0; }
      section#contact form input[type='text']::-moz-placeholder, section#contact form input[type='email']::-moz-placeholder, section#contact form textarea::-moz-placeholder {
        /* Firefox 19+ */
        color: #d0d9e0; }
      section#contact form input[type='text']:-ms-input-placeholder, section#contact form input[type='email']:-ms-input-placeholder, section#contact form textarea:-ms-input-placeholder {
        /* IE 10+ */
        color: #d0d9e0; }
      section#contact form input[type='text']:-moz-placeholder, section#contact form input[type='email']:-moz-placeholder, section#contact form textarea:-moz-placeholder {
        /* Firefox 18- */
        color: #d0d9e0; }

footer {
  background-color: #102D40;
  padding: 3%;
  color: white; }
  footer img {
    height: 40px; }
  footer div:first-of-type {
    width: 300px; }
  footer .links {
    text-align: right; }
  footer a {
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    text-decoration: none;
    border: none;
    margin-right: 10px;
    vertical-align: middle;
    padding: 10px 5px; }
  footer .copyright {
    font-size: 0.8em;
    font-weight: normal;
    border-top: 0.5px solid white;
    padding-top: 1.5%;
    margin-top: 1.5%; }

.highlight {
  color: #75D3C3; }

.bigger {
  font-size: 1.2em;
  font-weight: bold; }

@keyframes showTopText {
  0% {
    transform: translate3d(0, 100%, 0); }
  40%, 60% {
    transform: translate3d(0, 100%, 0); }
  100% {
    transform: translate3d(0, 0, 0); } }
.animated-title {
  height: 40vh;
  width: 100%; }

.animated-title > div {
  height: 50%;
  overflow: hidden;
  position: absolute;
  width: 100%; }

.animated-title > div div {
  font-size: 3em;
  padding: 10px 0;
  position: absolute; }

.animated-title > div div .text {
  display: block; }

.animated-title > div.text-top-container {
  width: 70%;
  margin: 0 15%;
  border-bottom: 1px solid #C7D5DE;
  top: 0; }

.animated-title > div.text-top-container div {
  animation: showTopText 1s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  bottom: 0;
  transform: translate(0, 100%);
  width: 100%; }

.animated-title > div.text-bottom-container {
  bottom: 0; }

.animated-title > div.text-bottom-container div {
  animation: showBottomText 0.5s;
  animation-delay: 1.75s;
  animation-fill-mode: forwards;
  top: 0;
  transform: translate(0, -100%); }

/*# sourceMappingURL=main.css.map */
