#number_generator_container {
  display: grid;
  column-gap: 5%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
}

.output_container #output {
  /* text-align: center; */
  font-size: 3em;
  font-weight: 600;
  margin: 40px 0;
  line-height: 55px;
  min-height: 55px;
  color: RGB(68,68,68);
}

.output_container #facts {
  /* text-align: right; */
  font-size: 0.8em;
  line-height: 30px;
  min-height: 30px;
}
