@media screen and (max-width: 1500px) {
  #introduction_container .image_container {
    width: 300px;
    height: 300px;
  }
}

@media screen and (max-width: 1300px) {
  #introduction_container .image_container {
    width: 250px;
    height: 250px;
  }
}

@media screen and (max-width: 1230px) {
  #introduction_container .image_container {
    display: none;
    background-image: none;
  }
}

@media screen and (max-width: 800px) {
  body, html {
    font-size: 14px;
  }

  #logo_container #logo_box {
    width: 45px;
    height: 45px;
  }
}

@media screen and (max-width: 650px) {
  /* .page_width {
    padding-left: 5%;
    padding-right: 5%;
  } */

  .section_container {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  #logo_container #logo_box {
    /* left: calc(5% - 5px); */
    top: 40px;
  }

  #hamburger {
    display: block;
    z-index: 200;
    position: fixed;
    right: 5%;
  }

  nav {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    background-color: #FFFFFF;
    border-left: 1px solid RGB(84,143,145);
    z-index: 100;
    /* display: none; */
  }

  nav ul {
    top: 120px;
    right: 40px;
    position: fixed;
  }

  nav ul li {
    display: block;
    margin-bottom: 20px;
    font-size: 0.9em;
  }

  nav a {
    color: RGB(84,143,145);
  }

  .sub_list {
    display: block;
    position: relative;
    left: 25px;
  }

  #about_container #about_container_images {
    display: none;
  }

  #hamburger button {
    height: 40px;
    width: 43px;
    border: none;
    background-color: transparent;
  }

  #hamburger .line {
    width: 30px;
    height: 2px;
    background-color: RGB(68,68,68);
    position: relative;
    border-radius: 100px;
  }

  #hamburger.open button .line {
    margin-bottom: 6px;
  }
  #hamburger.open button .line:last-of-type {
    margin-bottom: 0;
  }

  #hamburger.close button .line {
    transform: rotate(45deg);
  }
  #hamburger.close button .line:nth-of-type(1) {
    top: 2px;
  }
  #hamburger.close button .line:nth-of-type(2) {
    display: none;
  }
  #hamburger.close button .line:nth-of-type(3) {
    transform: rotate(-45deg);
  }

  #hamburger.open + nav {
    display: none;
  }

  #about_container #about_container_text {
    padding: 0;
    background-image: none;
  }

  #about_container #about_container_text p:first-of-type {
    font-size: 1em;
    font-weight: 200;
  }
}
