@media screen and (max-width: 1500px) {
  #introduction_container .image_container {
    width: 300px;
    height: 300px;
  }

  #about_container {
    grid-template-columns: 1fr 500px;
  }

  #about_container #image_me {
    width: 250px;
  }

  #about_container #image_newcastle {
    width: 275px;
    top: -70px;
    left: 200px;
  }

  #about_container #image_bouldering {
    width: 200px;
    top: -60px;
    left: -290px;
  }
}

@media screen and (max-width: 1320px) {
  body, html {
    font-size: 14px;
  }

  #logo_container #logo_box {
    width: 45px;
    height: 45px;
  }

  #about_container {
    grid-template-columns: 1fr 400px;
  }

  #about_container #about_container_text {
    background-size: 400px;
  }

  #about_container #image_me {
    width: 150px;
    top: 0;
    left: 30px;
  }

  #about_container #image_newcastle {
    width: 200px;
    top: 150px;
    left: 30px;
  }

  #about_container #image_bouldering {
    width: 130px;
    top: 10px;
    left: 40px;
  }
}

@media screen and (max-width: 1300px) {
  #introduction_container .image_container {
    width: 250px;
    height: 250px;
  }
}

@media screen and (max-width: 1230px) {
  #introduction_container .image_container {
    display: none;
    background-image: none;
  }
}

@media screen and (max-width: 1100px) {
  #about_container {
    display: flex;
    flex-direction: column-reverse;
    align-content: flex-start;
    justify-content: flex-start;
  }

  #about_container #about_container_text {
    padding: 0;
    background-image: none;
  }

  #about_container #about_container_images {
    background-image: none;
    text-align: center;
    height: 200px;
  }

  #about_container #image_me, #about_container #image_newcastle, #about_container #image_bouldering  {
    width: 150px;
    position: relative;
    top: 0;
    left: 0;
    margin-right: 20px;
  }

  #about_container #image_bouldering  {
    margin-right: 0;
  }
}

@media screen and (max-width: 1000px) {
  #projects_tiles_container {
    grid-template-columns: auto;
    grid-template-rows: auto;
    gap: 20px;
  }

  #project_container #section_header {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 800px) {
  body, html {
    font-size: 14px;
  }
}

@media screen and (max-width: 788px) {
  #project_container #section_header {
    min-width: auto;
  }
}

@media screen and (max-width: 650px) {
  h2 {
    font-size: 1.4em;
  }

  .full_page_section {
    min-height: calc(100vh - 100px);
  }

  .section_container {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  #logo_container #logo_box {
    top: 40px;
  }

  #hamburger {
    display: block;
    z-index: 200;
    position: fixed;
    right: 5%;
    top: 45px;
  }

  nav {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 275px;
    background-color: #FFFFFF;
    border-left: 1px solid RGB(84,143,145);
    z-index: 100;
  }

  nav ul {
    top: 120px;
    left: calc(100vw - 275px + 30px);
    position: fixed;
  }

  nav ul li {
    display: block;
    margin-bottom: 20px;
    font-size: 0.9em;
  }

  nav a, nav a:visited {
    color: RGB(84,143,145);
  }

  nav a:hover, nav a:active, nav a:focus {
    border-bottom: 1px solid RGB(84,143,145);
    color: RGB(84,143,145);
  }

  li.small_device {
    display: block !important;
  }

  li.sub_list {
    position: relative;
    left: 25px;
  }

  #hamburger button {
    height: 40px;
    width: 43px;
    border: none;
    background-color: transparent;
    -webkit-backface-visibility: hidden;
  }
  #hamburger button:focus {
    background-color: transparent;
  }

  #hamburger .line {
    width: 30px;
    height: 2px;
    background-color: RGB(68,68,68);
    position: relative;
    border-radius: 100px;
    transition: transform 0.2s ease;
    -webkit-backface-visibility: hidden;
  }

  #hamburger.open button .line {
    margin-bottom: 6px;
  }
  #hamburger.open button .line:last-of-type {
    margin-bottom: 0;
  }

  #hamburger.close button {
    background-color: #FFFFFF;
  }
  #hamburger.close button .line {
    transform: rotate(45deg);
  }
  #hamburger.close button .line:nth-of-type(1) {
    top: 2px;
  }
  #hamburger.close button .line:nth-of-type(2) {
    opacity: 0;
    display: none;
    transition: opacity 0.2s ease;
    transition: display 0.2s ease;
    -webkit-backface-visibility: hidden;
  }
  #hamburger.close button .line:nth-of-type(3) {
    transform: rotate(-45deg);
  }

  #hamburger.open + nav {
    display: none;
  }

  #about_container #about_container_text p:first-of-type {
    font-size: 1em;
    font-weight: 200;
  }

  #about_container #about_container_images {
    height: 150px;
  }

  #about_container #image_me, #about_container #image_newcastle, #about_container #image_bouldering  {
    width: 100px;
    margin-right: 20px;
  }

  footer {
    height: 30px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 0.65em;
  }

  #number_generator_container {
    grid-template-columns: auto;
    grid-template-rows: auto auto;
  }

  .drawing_and_info_container {
    margin: 0 0 50px 0;
  }

  .drawing_container {
    padding: 50px 2%;
  }
}

@media screen and (max-width: 480px) {
  #about_container #about_container_images {
    height: 200px;
  }

  #about_container #image_me {
    width: 150px;
    margin-right: 0;
  }

  #about_container #image_newcastle, #about_container #image_bouldering  {
    display: none;
  }
}

@media screen and (max-width: 430px) {
  input[type='number'], input[type='text'] {
    width: 90%;
    padding: 10px 5%;
  }

  .output_container {
    text-align: center;
  }
}

@media screen and (max-width: 400px) {
  .full_page_section.only_small_devices {
    min-height: calc(100vh - 140px);
  }

  footer {
    font-size: 0.6em;
  }
}

@media screen and (max-width: 340px) {

}
